
#222831
#393E46
#00ADB5
#EEEEEE



/*-----------------------General-------------------------------*/
p {
  font-family: Lexend Deca, Arial;
  color: #222831;
}

a {
  font-family: Lexend Deca, Arial;
  text-decoration: none;
}

body {
  padding-bottom: 2000px;
}

h1,
h2 {
  font-family: Big Shoulders Display, Arial;
}

/*-----------------------Header-------------------------------*/
header {
  display: flex;
  flex-direction: column;
  height: 85vh;
  background-color: #EEEEEE;
  border-radius: 0rem 0rem 2rem 2rem;
  padding: 6rem 0rem 0rem;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85vh;
  border-radius: 0rem 0rem 2rem 0rem;
  clip-path: polygon(45% 0, 100% 0%, 100% 100%, 85% 100%);
  background-color: rgba(0, 170, 179, 0.622);
  z-index: 1;
}

/*-----------------------Top-Header-------------------------------*/


div.top-header-transparent {
  display: flex;
  position: fixed;
  top: 0rem;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  border-radius: 0rem 0rem 2rem 2rem;
  align-items: center;
  transition: background-color 0.6s ease;
  z-index: 2;
  padding: 1rem 3rem;
}

div.top-header-transparent.scrolled {
  background-color: #EEEEEE;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.7);
}

.site-identity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.site-logo {
  width: 4rem;
}

.site-navigation {
  display: flex;
  gap: 4rem;
}

.navigation {
  color: #222831;
  border: solid transparent;
  border-width: 0rem 0rem 0.2rem 0rem;
  transition: all 0.05s;
  
}

.navigation:hover {
  border: solid;
  border-width: 0rem 0rem 0.2rem 0rem;
}

.navigation:active {
  transform: translateY(-0.3rem);
}

.menu {
  display: none;
}

@media (max-width:750px) {
  .navigation {
    display: none;
  }

  .menu {
    display: flex;
  }
}

/*-----------------------Bottom-Header-------------------------------*/
.bottom-header {
  display: flex;
  z-index: 1;
}

.bottom-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.header-img {
  width: 35rem;
}

.bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex: 1;
}

.header-text {
  font-family: Arial;
  font-size: 3rem;
  font-weight: 700;
}

.header-p {

}

.getnow-btn {
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #00ADB5;
  color: #EEEEEE;
  padding: 1rem;
  width: 10rem;
  border-radius: 1rem;
  transition: all 0.3s;
}

.all-btn:hover {
  background-color: #222831;
  color: #00ADB5;
}

.all-btn:active {
  transform: translateY(-0.2rem);
}

/*-----------------------Main-------------------------------*/

.universities-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 6rem;
  gap: 6rem;
}

.university-text {
  font-size: 3.5rem;
}

.university-list {
  display: flex;
  justify-content: space-around;
}

.uni-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  width: 25rem;
  height: 25rem;
  gap: 2rem;
  box-shadow: 0 0 1rem rgba(146, 146, 146, 0.7);
}

.uni-name {
  font-weight: 600;
  font-size: 1.2rem;
}

.uni-logo {
  width: 7rem;
  filter: grayscale(100%);
  transition: filter 0.5s;
}

.uni-logo:hover {
  filter: grayscale(0%);
}

.getresources-btn {
  background-color: #00ADB5;
  color: #EEEEEE;
  border-radius: 1rem;
  padding: 1rem;
  transition: all 0.3s;
}