
#222831
#393E46
#00ADB5
#EEEEEE



/*-----------------------General-------------------------------*/

h2 {
  font-family: Arial;
}

p {
  font-family: Lexend Deca, Arial;
  color: #222831;
}

a {
  font-family: Lexend Deca, Arial;
  text-decoration: none;
}

body {
  padding-bottom: 2000px;
}

/*-----------------------Header-------------------------------*/
header {
  display: flex;
  flex-direction: column;
  height: 85vh;
  background-color: #EEEEEE;
  border-radius: 0rem 0rem 2rem 2rem;
  padding: 6rem 0rem 0rem;
  
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85vh;
  clip-path: polygon(40% 0, 100% 0%, 100% 100%, 75% 100%);
  background-color: rgba(0, 170, 179, 0.622);
  z-index: 1;
}

/*-----------------------Top-Header-------------------------------*/


div.top-header-transparent {
  display: flex;
  position: fixed;
  top: 0rem;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  border-radius: 0rem 0rem 2rem 2rem;
  align-items: center;
  transition: background-color 0.6s ease;
  z-index: 1000;
  padding: 1rem 3rem;
}

div.top-header-transparent.scrolled {
  background-color: #EEEEEE;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.7);
}

.site-identity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.site-logo {
  width: 4rem;
}

.site-navigation {
  display: flex;
  gap: 4rem;
}

.navigation {
  color: #222831;
  border: 5px hidden;
  border-width: 0rem 0rem 0.2rem 0rem;
  transition: 0.05s;
  
}

.navigation:hover {
  border: solid;
  border-color: #00ADB5;
  border-bottom: 2px;
}

/*-----------------------Bottom-Header-------------------------------*/

.bottom-header {
  display: flex;
  z-index: 2;
}

.bottom-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.header-img {
  width: 35rem;
}

.bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex: 1;
}

.header-text {
  font-family: Arial;
  font-size: 3rem;
  font-weight: 700;
}

.header-p {

}

.getnow-btn {
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #00ADB5;
  color: #EEEEEE;
  padding: 1rem;
  width: 10rem;
  border-radius: 1.5rem;
}